.kd-header {
    background-color: #5077FB;
    max-width: 370px;
    width: 100%;
    height: 1028px;
}

.kd-header h1 {
    width: 70%;
    margin: 76px auto;
    text-align: center;
    color: white;
    line-height: 24px;
}

.kd-header h1 figcaption {
    line-height: 24px;
}

.kd-header nav {
    padding: 35px 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.11);
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}

.kd-header nav ul {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.kd-header nav ul li {
    font-family: "Poppins-Regular";
    color: white;
    font-size: 18px;
}

.btnAnimation01::before {
    content: "";
	width: 0px;
	height: 0px;
	background-color: white;
	position: absolute;
	top: -100%;
	left: 0;
	z-index: -1;
	transition: 0.3s;
	opacity: 0.6;
}

.btnAnimation01:hover::after {
    width: 10px;
    height: 10px;
}

.kd-header nav ul li a:hover  {
    color: #FFE000;
}

.kd-header .header-itens {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.kd-header .header-itens .shots {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.kd-header .header-itens h2 {
    font-size: 16px;
    color: white;
}

.kd-header .header-itens .shots-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 17px;
}

.kd-header .header-itens .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 289px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    padding: 13px;
}

.kd-header .header-itens .search>div>img {
    width: 16px;
}

.kd-header .header-itens .search input::placeholder {
    color: white;
}

.kd-header .header-itens .social {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.kd-header .header-itens .social-icon {
    display: flex;
    gap: 10px;
}

.kd-header .header-itens .social-icon a {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.308);
    width: 44px;
    height: 44px;
}

.kd-header .header-itens .social-icon a img {
    width: 20px;
    margin: 10px auto;
    display: flex;
}